<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="TargetFolder" value="c:\Development\Prollux\Test\DatabaseBackup"/>
    <add key="MySqlDump" value="C:\Program Files (x86)\MySQL\MySQL Server 5.7\bin\mysqldump.exe" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="Alias" connectionString="Data Source=sql3.freesqldatabase.com;port=3306;Initial Catalog=sql386557;User Id=sql386557;password=iK2!kM1*"/>
    <add name="ProAcademic" connectionString="Data Source=104.218.12.141;port=3306;Initial Catalog=aquaserv_proacademic-db;User Id='aquaserv_academ';password='TD7DJ;6GmPHi'"/>
    <add name="AccessFile" connectionString="Provider=Microsoft.ACE.OLEDB.16.0;Data Source=|FilePath|;;Jet OLEDB:Engine Type=5;"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
</configuration>